<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in Page</title>
    <link rel="stylesheet" href="css/cust_login.css">
</head>
<body>

    <section>

        <div class = "imgBx">
            <img src="img/login-solar-panels.jpg">
        </div>

        <div class = "contentBx">
            <div class = "formBx">

                <h2>Manager Login</h2>
                <form method="POST" action="/managerlogin">
                    <div class = "inputbx">
                        <span>Username</span>
                        <input type="text" name = "email" placeholder="Email" required>
                    </div>

                    <div class = "inputbx">
                        <span>Password</span>
                        <input type="password" name = "password" placeholder="Password" required>
                    </div>
                    <% if (messages.error){%>
                        <%= messages.error %>
                            <% } %>

                    <div class="inputbx">
                        <input type="submit" value="Sign In">
                    </div>



                </form>

            </div>

        </div>

    </section>
    
</body>
</html>