/*
 * Globals
 */


/* Custom default button */
.lm-btn{
  background-color: rgba(255, 191, 0, 0.679)      !important;
  color: black !important;
  border:none !important;
}
.btn-light,
.btn-light:hover,
.btn-light:focus {
  /* color: white; */
  text-shadow: none; /* Prevent inheritance from `body` */
  transform: scale(2);

}

.btn{
  transition: all 0.3s linear;

  /* transform: scale(1.5); */
}



/*
 * Base structure
 */

/* body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); 
  margin: 0;
  
}*/


.navbar{
  color: white;
  position: fixed;
}

/* div.container{
  position:fixed;
  font-family: cursive;
} */
.cover-container {
  max-width: 100em;
  background-image: url("img/homebg.jpeg");
  
}
.about-container {
  max-width:48%;

  /* background: purple;
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%; */
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: black;
  border-bottom: .25rem solid transparent;
  background-color: white;


}
.nright{
  margin-left:10rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: black;
}


.nav-masthead .active {
  color: black;
  border-bottom-color: black;
}

/* .main-content{
  /* background: purple;
  color: white;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  padding: 10rem 20%;} */
  
