* {
    margin: 0;
    padding: 0;
}

.home {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
    background-image: url("../img/homebg.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

main{
    animation: fadeInAnimation ease 2s;
}

.splash{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;
    
    height:100%;
    width:100%;
    background-color: white;
    z-index: 200;
    line-height: 90vh;
    text-align: center;
    color: black;
    line-height: 90vh;
}



.splash.display-none{
    position : absolute;
    opacity: 0;
    top: 100%;
    left:0;
    width:auto;
    height: 100vh;
    background-color: black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    /* transition: all 0.5s; */
}
@keyframes fadeIn{
    to{
        opacity: 1;
    }
    
}

.fade-in{
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    
}
